$font-stack:    Helvetica, sans-serif;
$borders-color:#eaeaea;
$primary-color: #333;
$disabled-color: #bebebe;
$sidebar-color:#272d33;
$sidenav-width: 130px;
%buttons-width{ 
    width:40px;
    height:40px;
};
%border{
    border: #8d8484 1px solid;
    border-radius: 5px;
}

@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
       -moz-border-radius: $radius;
        -ms-border-radius: $radius;
            border-radius: $radius;
}

body{
    font-family: 'Open Sans', sans-serif;
    margin:0px;
}

  .sidenav {
    
    display: flex;
    flex-direction: column;
    height: 100%; 
    width: $sidenav-width; 
    position: fixed; 
    z-index: 1; 
    top: 0; 
    left: 0;
    background-color:$sidebar-color;
    overflow-x: hidden; 
    padding-top: 20px;
    a{
        margin-bottom: 15px;
        &:hover{
            border-left-color: red;
            border-left: 2px red solid;
            border-bottom-left-radius: 3px;
            border-top-left-radius: 3px;
        }
    }
    .countercirclemessenger{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 30px;
        height: 30px;
        position: relative;
        right: 10px;
        border-radius: 50%;
        top: -15px;
        background: #ff503f;
        color: white;
    }
    p{  font-size: 14px;
        padding-top:10px;
        border:0;
        margin: 0;
    }
    .profile-image{
        display: flex;
        justify-content: center;
        
        img{
            padding-left: 35px;
            width: 45px;
            height: 45px;
        }
    }
    .board{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        img{
            width: 45px;
            height: 45px;
        }
        p{color: white}
    }
    .projects{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        img{
            width: 45px;
            height: 45px;
        }
        p{color: white} 
    }
    .settings{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        img{
            width: 45px;
            height: 45px;
        }
        p{color: white}    
    }
    .upgrade{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        img{
            width: 45px;
            height: 45px;
        }
        p{color: white}    
        margin-top: auto;
    }
    .logout{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        img{
            width: 45px;
            height: 45px;
        }
        p{color: white}    
    }
    .dots{
        padding-bottom: 15px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        div{
            padding:0;
            margin: 5px;
            width: 5px;
            height: 5px;
            border-radius: 50%;
            background: #595959;
        }
    }
    a { 
        justify-content: flex-start;
        padding: 6px 6px 6px 6px;
        text-decoration: none;
        font-size: 25px;
        color: #818181;
        display: block;
        :hover {
            color: #f1f1f1;
          }
        
      }

  }

  .main{
     
      height: 100vh;
      margin-left: $sidenav-width;
      display: flex;
      flex-flow: column;
      .update-button,.status-button{
      @extend %buttons-width;
      @include border-radius(50%);  
      }
  }
  .head{
      background: #f1f1f1;
      height: 100px;
      display: flex;
      align-items: center;
      button{
          border:0px;
      }
      .update-button{
          display: flex;
          justify-content: center;
          align-items: center;
        margin-left: 30px;
        margin-right: 10px;
        background: #ff503f;
        img{
            width: 16px;
            height: 16px;
            
        }
      }
      .dashboard-button{
        background: inherit;
        width: 110px;
        height: 40px;
        border: 1px #c8c8c8 solid;
        font-size: 12px;  
        border-radius: 15px;
        margin-right: 10px;
      }
      .status-button{
          display: flex;
          justify-content: center;
          align-items: center;
          background: #aacc4e;
          margin-left: auto;
          img{
              width: 16px;
              height: 16px;
          }
      }
      .chat-button{
        
        border: 1px #c8c8c8 solid;
        background: inherit;
        border-radius: 15px;
        margin-right: 30px;
        margin-left:10px;
        display: flex;
        justify-content: center;
        align-items: center;
        p{
            padding-left: 5px;
        padding-right: 5px;
        }
        img{
            width: 16px;
            height: 16px;
        }
      }
     
  }
  .tabulation{
      height: 80px;
      border-top: 1px #d3d7da solid;
      background: #f1f1f1;
      display: flex;
      align-items: center;
      .searchbar{
          
        margin-right: 130px;
          margin-left: auto;
          height: 100%;
          display: flex;
          align-items: center;
          input{
            font-size: 22px;
            
            &:placeholder-shown{
                width: 400px;
                border: none;
                color: #c1c1c1;
                background: #f1f1f1;
            }
        }
    }
    
  .tab {
    .tablinks{
        display: flex;
        align-items: center;
        width: 260px;
        font-size: 22px;
        .countercircleprojects{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 30px;
            height: 30px;
            position: relative;
            right: 0px;
            border-radius: 50%;
            top: -15px;
            background: gray;
            color: white;
        }
        .countercirclemessenger{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 30px;
            height: 30px;
            position: relative;
            right: 0px;
            border-radius: 50%;
            top: -15px;
            background: #ff503f;
            color: white;
        }
        img{
            margin-left: 30px;
            width: 40px;
            height: 40px;
        }
    }
    overflow: hidden;
    height: 100%;
    background-color: #f1f1f1;
    button {
    height: 100%;
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    
    transition: 0.3s;
    &:hover {
        background-color: #ddd;
      }
  }
  .active{
      background: white;
      border-top: 1px #d3d7da solid;
      border-right: 1px #d3d7da solid;
  }
  .inactive{
      background: #f8f8f8;
      border: 1px #d3d7da solid;
  }
}
  

  }
  
  
  
  
  .main-content{
      padding-left: 30px;
      .projects{
          overflow-y: scroll;
      }
      
      display: flex;
      flex: 1;
     
      .projects{
          width: 60%;
          .searchbar{
              border-radius: 5px;
              border:1px $borders-color solid;
              height: 90px;
              display: flex;
              align-items: center;
              input{
                  font-size: 18px;
                  &:placeholder-shown{
                      width: 400px;
                  }
                  padding-left: 20px;
                  margin: 0;
                  border: 5px;
              }
              .filter{
                font-size: 10px;
                  border: 0px;
                  display: flex;
                  align-items: center;
                height: 32px;
                padding: auto;  
                margin-left: auto;
                border-radius:15px;
                p{
                    margin: 0;
                }
                img{
                    width: 16px;
                    height: 16px;
                }
            }
              .addbutton{
                  border: 0;
                  margin-left: 8px;
                  margin-right: 32px;
                  height: 32px;
                  width: 32px;
                  @include border-radius(50%);
                background: #ff503f;
                  img{
                      width: 16px;
                      height: 16px;
                  }
              }
          }
          .task{
              border-bottom: 1px $borders-color solid;
              border-left: 1px $borders-color solid;
              border-right: 1px $borders-color solid;
              display: flex;
              align-items: center;
              height: 90px;
              background:whitesmoke;
              button{
                 border:0;
                 
                 
                 height: 32px;
                 border-radius: 50%;
               }
              .percentage{
                  margin-left: 32px;
                  margin-right: 16px;
                  background-color: #ff503f;
                  color: white;
                  width: 50px;
                  height: 32px;
                  border-radius: 10px;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  p{
                      margin: 0;
                  }
              }
              .projectname{
                padding: auto;  
                margin-left: auto;
                border-radius:15px;
            }
            .search{
                &:hover{
                    background: #ff503f;
                    cursor: pointer;
                }
            width: 32px;
            margin-left: 8px;
            img{
                background: cover;
                width: 16px;
                height: 16px;
            }
        }
            .expand{
            width: 32px;
            margin-right: 32px;
            margin-left: 8px;
                &:hover{
                    cursor: pointer;
                }
                &:focus{
                    -webkit-transition-duration: 1s;
                    -moz-transition-duration: 1s;
                    -o-transition-duration: 1s;
                    transition-duration: 1s;
                    -webkit-transition-property: -webkit-transform;
                    -moz-transition-property: -moz-transform;
                    -o-transition-property: -o-transform;
                    transition-property: transform;
                    outline: 0;
                    transform: rotate(180deg)
                }
            img{
                width: 16px;
                height: 16px;
            }
        }
        
        .active, .accordion:hover {
            background-color: #ccc;
        }  
          }
      }
      .feed{
          margin-left: 20px;
          overflow-y: scroll;
          flex: 1;
          
        
          .feedentry{
                border: 1px $borders-color solid;
                .description{
                    font-size: 14px;
                }
                .name{
                      color:#4b4b4b;
                }
                p{
                    margin: 0;
                }
              button{
                margin-left: 30px;
                margin-right: 10px;
                border: 0;
                @include border-radius(50%);
              }
              .onlinecircle{
                position: relative;
                border: 1px white solid;
                top: -2px;
                right: 4px;
                background: greenyellow;
                width: 7px;
                height:7px;
                border-radius: 50%;
            }
              display: flex;
              height: 90px;
              align-items: center;
              img{
                  @include border-radius(50%);
                  height: 30px;
                  width: 30px;
              }
              
          }
      }
    
  }
  .panel {
    .rotate{
        transform: rotate(180deg);
        -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
    }
    height: 90px;
    display: none;
    align-items: center;
    overflow: hidden;
    .avatars{
        display: flex;
        
        .onlinecircle{
                position: relative;
                border: 1px white solid;
                top: -2px;
                right: 4px;
                background: greenyellow;
                width: 7px;
                height:7px;
                border-radius: 50%;
            }
        margin-left: auto;
        button{
            margin-right: 8px;
            width: 32px;
            height: 32px;
            @include border-radius(50%);
            border: 0;
        }
        img{
            
            width: 16px;
            height: 16px;
        }
    }
    .percentage{
        border:1px solid $disabled-color;   
        color: $disabled-color;
        margin-left: 32px;
        margin-right: 16px;
        width: 50px;
        height: 32px;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        p{
            margin: 0;
        }
        
    }
    .completiondate{
        img{
            height: 12px;
            width: 12px;
        }
        margin-left: 8px;
        padding: auto;
        border-radius:15px;
        height: 32px;
        border: 0;

    }
    .search{
    @include border-radius(50%);
    border: 0;
        &:hover{
            background: #ff503f;
            cursor: pointer;
        }
    width: 32px;
    height: 32px;
    margin-right: 32px;
            margin-left: 8px;
    img{
        background: cover;
        width: 16px;
        height: 16px;
    }
}
}

  /* The navigation menu links */
 
  
  /* When you mouse over the navigation links, change their color */
 